 @media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .section__pic-container {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 225px;
    height: 225px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .section__text {
    align-self: center;
    text-align: center;
    margin-left: 4rem; 
  }
  .section__text__p1 {
    text-align: center; 
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
    content: "Software Developer";
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  
} 






 /* Media Queries for responsiveness   */ 
 
@media (max-width: 768px) {
  .section-container-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .section__pic-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
  }
  .section__text {
    align-self: center;
    text-align: center;
    margin-left: 4rem; 
  }
  .section__text__p1 {
    text-align: center; 
  }

  .about-containers,
  .contact-info {
    flex-basis: 100%;
  }

  .details-container img.icon {
    width: 50px;
    height: 50px;
  }
}
@media (max-width:450px) {
  .section-container-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .section__pic-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
  .section__text___p1 {
    text-align: center; 
    margin-top: 50px;
    align-items: center;
  }
  .hamburger-icon {
    margin-left: 150px;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  .logo {
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
    letter-spacing: 2px; 
    transition: transform 0.3s ease, text-shadow 0.3s ease; 
    font-size: 1.2rem;
    cursor: pointer;
    content: "Software Developer";
  }
}






